.productHeader {
    display: grid;
    grid-template-columns:
        [start] 70px [logoend] 30px [titlestart] calc(50% - 100px) [middle] 1fr [pricestart] auto [priceend] 40px [creditstart] auto [creditend] 40px [ratestart] auto [end];
    z-index: 10
}

.logo {
    grid-column: start/ logoend;
    grid-row: 1 / span 2;
}

.title,
.tags {
    grid-column: titlestart / middle;
}

.price,
.priceTitle {
    grid-column: pricestart / priceend;
    font-size: clamp(14px, 4vw, 20px);
    font-weight: 400;
    line-height: 1.35;

    white-space: nowrap;
}

.credit,
.creditTitle {
    grid-column: creditstart / creditend;
}

.rating,
.rateTitle {
    grid-column: ratestart / end;
    white-space: nowrap;
}

.logo img {
    border-radius: 5px;
}

.title {
    align-self: flex-end;
    font-size: clamp(14px, 3vw, 20px);
    font-weight: 600;
    line-height: 1.35;
}

.category {
    margin-top: 7px;
    font-size: clamp(10px, 2vw, 14px);
    text-align: center;
    font-weight: 300;
}

.price,
.credit {
    align-self: flex-end;
    font-size: clamp(14px, 3vw, 20px);
    line-height: 1.35;
}

.month {
    font-size: clamp(12px, 2vw, 14px);
    line-height: 1.3;
}

.oldPrice {
    margin-left: 5px;
}

.rating {
    align-self: flex-end;
}

.star {
    margin-left: 5px;
}

.starButton {
    cursor: pointer;
    border: none;
    background: transparent;
}



.priceTitle,
.creditTitle,
.rateTitle {
    font-size: clamp(11px, 1.5vw, 14px);
    font-weight: 300;
    line-height: 1.3;
}

.priceTitle,
.creditTitle {
    text-align: left;
}

@media screen and (max-width: 1200px) {
    .productHeader {
        /* margin-top: 20px; */
        grid-template-columns: 70px 30px auto 40px auto 40px 1fr;
        grid-template-areas:
            "logo . title title title title title"
            "logo . tags tags tags tags tags"
            "price price price . credit . ."
            "priceTitle . . . creditTitle . rateTitle"
            "rating rating rating . . . ."
    }

    .logo {
        grid-area: logo;

        margin-bottom: 20px;
    }

    .title {
        grid-area: title;
    }

    .tags {
        grid-area: tags;

        margin-bottom: 20px;
    }

    .price {
        grid-area: price;
    }

    .credit {
        grid-area: credit;
    }

    .rating {
        grid-area: rating;
        margin-top: 5px;
    }

    .priceTitle {
        grid-area: priceTitle;
        align-self: center;
        text-align: left;
        margin-right: 7px;
    }

    .creditTitle {
        grid-area: creditTitle;
        align-self: center;
        text-align: left;
        margin-right: 7px;
    }

    .rateTitle {
        grid-area: rateTitle;
    }
}

@media screen and (max-width: 640px) {
    .product {
        margin-top: 10px;
        grid-template-columns: 70px 30px 1fr;
        grid-template-areas:
            "logo . title"
            "logo . tags"
            "priceTitle priceTitle price"
            "creditTitle creditTitle credit"
            "rating rating rating"
    }

    .price {
        margin-bottom: 10px;
    }

    .credit {
        margin-bottom: 10px;
    }

    .priceTitle,
    .creditTitle {
        text-align: right;

    }
}

@media screen and (max-width: 480px) {
    .productHeader {
        grid-template-columns: 85px auto;
        grid-template-areas:
            "logo title"
            "tags tags"
            "price price"
            "priceTitle priceTitle"
            "credit credit"
            "creditTitle creditTitle"
            "rating rating"
            "rateTitle rateTitle"
    }

    .logo {

        margin-bottom: 7px;
    }

    .title {
        align-self: flex-start;
    }

    .creditTitle,
    .priceTitle {
        text-align: left;
        margin-bottom: 10px;
    }

    .price,
    .credit {
        margin-bottom: 0px;
    }
}