.mainWrapper {
    margin-top: 24px;
}

.mainTitle {
    display: grid;
    grid-template-columns: 1fr auto;
}

.heroDivider {
    margin: 20px 0;
}

.heroCard {
    overflow: hidden;
}

.mainFilterTitle {
    font-size: 20px;
    font-weight: 500;
    line-height: 24px;
}

.mainFilter {
    margin-top: 15px;
}

.mainFilterList {
    display: grid;
    place-items: center center;

    margin-top: 15px;

    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 0 10px;
}

.mainFilterButton {
    color: black;
    background: none;
}

.filterIcon {
    color: var(--primary);
}

.prductHdrItem {
    width: 100%;

    cursor: pointer;
    text-align: left;

    border: none;
    background: none;
}

.mouseTooltip {
    position: fixed;
    z-index: 9999;

    padding: 4px 8px;

    pointer-events: none;

    opacity: 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: transparent;
    backdrop-filter: blur(40px);
}

@media (width <= 765px) {
    .mainThemeButton {
        display: none;
    }
}
