.footer {
    margin-top: auto;

    color: var(--gray);
    background-color: var(--primary);

    font-size: 16px;
    font-weight: 400;
    line-height: 21px;

}

.container {
    display: grid;
    place-items: center center;

    height: 72px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:
        "text nav";
}

.text {
    grid-area: text;
}

.nav {
    grid-area: nav;
}

.link {
    padding-left: 32px;
}

.link:hover {
    color: rgb(170 170 206);
}

@media (width <= 768px) {
    .container {
        font-size: 14px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "text"
            "nav";
    }

    .text {
        padding: 10px 0;

        text-align: center;
    }

    .nav {
        display: block;

        padding-bottom: 10px;

        text-align: center;
    }
}

@media (width <= 320px) {
    .container {
        font-size: 12px;
    }
}