.footer {
    background-color: var(--primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--gray);

}

.container {
    height: 72px;
    /* padding: 0 16px; */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    align-items: center;
    grid-template-areas:
        "text nav";
}

.text {
    grid-area: text;
}

.nav {
    grid-area: nav;
}

.link {
    padding-left: 32px;
}

.link:hover {
    color: rgb(170, 170, 206);
}

@media (max-width: 768px) {
    .container {
        font-size: 14px;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto;
        grid-template-areas:
            "text"
            "nav";
    }

    .text {
        text-align: center;
        padding: 10px 0;
    }

    .nav {
        display: block;
        text-align: center;
        padding-bottom: 10px;
    }
}

@media (max-width: 320px) {
    .container {
        font-size: 12px;
    }
}