.advantages {
    margin-top: 32px;
}

.advantagesItem {
    margin-top: 24px;
}

.advantageTitle {
    font-size: clamp(16px, 3vw, 22px);
    font-weight: 600;
    line-height: 1.25;
}

.advIcon {
    width: 32px;
    height: 32px;
    margin-right: 20px;
}

.advantageText {
    margin-top: 24px;
    margin-left: 16px;
    padding-left: 60px;

    border-left: 1px solid #ddd;

    font-size: clamp(14px, 2.5vw, 18px);
    line-height: 1.5;
}