.starsGroup {
    position: relative;
}

.span {
    display: inline-block;

    width: 25px;
    height: 20px;
}

.star {
    transition: all 0.2s;

}

.star:hover {
    filter: drop-shadow(0 0 5px var(--primary-hover));

    cursor: pointer;
}

.rated svg {
    fill: var(--primary-hover);
}

.validationMessage {
    position: absolute;
    top: 30px;
    left: 0;

    color: var(--red);

    font-size: 12px;
}