.up {
    position: fixed;
    border: none;

    bottom: 28px;
    right: 28px;
    z-index: 1000;
    background-color: transparent;
}



.up:hover {
    cursor: pointer;
    user-select: none;
    filter: hue-rotate(350deg) brightness(97%) drop-shadow(0 0 2px var(--primary-hover));
    transition: filter 0.2s ease-in-out;
}