.up {
    position: fixed;
    z-index: 1000;
    right: 28px;
    bottom: 28px;

    border: none;
    background-color: transparent;
}

.up:hover {
    cursor: pointer;
    user-select: none;
    filter: hue-rotate(350deg) brightness(97%) drop-shadow(0 0 2px var(--primary-hover));

    transition: filter 0.2s ease-in-out;
}