.themeToggleBtn {
    --bg: var(--primary);
    --fg: #ffffff;
    background-color: var(--bg);
    border-radius: 3px;
    --dimensions: 28px;
    width: var(--dimensions);
    height: var(--dimensions);
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    cursor: pointer;
    position: relative;
}

.themeToggleBtn .maincircle {
    --dimensions: 12px;
    width: var(--dimensions);
    height: var(--dimensions);
    background-color: var(--fg);
    border-radius: 50%;
    position: absolute;
    transition: transform 0.4s ease 0.2s;
}

.themeToggleBtn .maincircleInner {
    background-color: var(--bg);
    border-radius: 50%;
    --dimensions: 10px;
    width: var(--dimensions);
    height: var(--dimensions);
    position: absolute;
    top: 1px;
    right: -1px;
    transform-origin: right top;
    transform: scale(0);
    transition: transform 0.4s ease 0.2s;
    content: "";
    pointer-events: none;
}

.themeToggleBtn .sunrays {
    display: grid;
    place-items: center;
    transition: transform 0.4s ease 0.2s;
    position: absolute;
}

.themeToggleBtn .sunrays,
.themeToggleBtn .sunraysAfter,
.themeToggleBtn .sunraysBefore {
    --width: 1px;
    --height: 2px;
    width: var(--width);
    height: var(--height);
    background-color: var(--fg);
    position: absolute;
    box-shadow: 0 10px 0 var(--fg), 0 -10px 0 var(--fg);
}

.themeToggleBtn .sunraysAfter {
    content: "";
    transform: rotate(120deg);
}

.themeToggleBtn .sunraysBefore {
    content: "";
    transform: rotate(240deg);
}

/* Стили для активного состояния (например, светлая тема) */
.themeToggleBtn.active .maincircle {
    transform: scale(1.2);
}

.themeToggleBtn.active .maincircleInner {
    transform: scale(1);
}

.themeToggleBtn.active .sunrays {
    transform: scale(0);
}

.themeToggleBtn:hover {
    user-select: none;
    filter: hue-rotate(350deg) brightness(97%);
    transition: filter 0.2s ease-in-out;
}

@media (prefers-color-scheme: dark) {
    .togglebtn {
        --bg: var(--primary);
        --fg: #e8e8e8;
    }
}