.themeToggleBtn {
    --bg: var(--primary);
    --fg: #fff;
    --dimensions: 28px;
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;

    width: var(--dimensions);
    height: var(--dimensions);
    margin: 0;
    padding: 0;

    cursor: pointer;

    border: none;
    border-radius: 3px;
    background-color: var(--bg);
}

.themeToggleBtn .maincircle {
    --dimensions: 12px;
    position: absolute;

    width: var(--dimensions);
    height: var(--dimensions);

    transition: transform 0.4s ease 0.2s;

    border-radius: 50%;
    background-color: var(--fg);
}

.themeToggleBtn .maincircleInner {
    --dimensions: 10px;
    position: absolute;
    top: 1px;
    right: -1px;

    width: var(--dimensions);
    height: var(--dimensions);

    content: "";
    transition: transform 0.4s ease 0.2s;
    transform: scale(0);
    transform-origin: right top;
    pointer-events: none;

    border-radius: 50%;
    background-color: var(--bg);
}

.themeToggleBtn .sunrays {
    position: absolute;

    display: grid;

    transition: transform 0.4s ease 0.2s;
    place-items: center;
}

.themeToggleBtn .sunrays,
.themeToggleBtn .sunraysAfter,
.themeToggleBtn .sunraysBefore {
    --width: 1px;
    --height: 2px;
    position: absolute;

    width: var(--width);
    height: var(--height);

    background-color: var(--fg);
    box-shadow: 0 10px 0 var(--fg), 0 -10px 0 var(--fg);
}

.themeToggleBtn .sunraysAfter {
    content: "";
    transform: rotate(120deg);
}

.themeToggleBtn .sunraysBefore {
    content: "";
    transform: rotate(240deg);
}

/* Стили для активного состояния (например, светлая тема) */
.themeToggleBtn.active .maincircle {
    transform: scale(1.2);
}

.themeToggleBtn.active .maincircleInner {
    transform: scale(1);
}

.themeToggleBtn.active .sunrays {
    transform: scale(0);
}

.themeToggleBtn:hover {
    user-select: none;
    filter: hue-rotate(350deg) brightness(97%);

    transition: filter 0.2s ease-in-out;
}

@media (prefers-color-scheme: dark) {
    .togglebtn {
        --bg: var(--primary);
        --fg: #e8e8e8;
    }
}