.reviewWrapper {
    display: block;
    padding: 24px;
    font-size: clamp(10px, 2.5vw, 14px);

}

.reviewHeader {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    align-items: center;
    /* margin-top: 10px; */
    grid-template-areas:
        "reviewHeaderLeft reviewHeaderRight"
        "reviewBody reviewBody"
        "reviewDivider reviewDivider";
}

.reviewHeaderLeft {
    grid-area: reviewHeaderLeft;
    display: grid;
    grid-template-columns: auto auto 1fr;
    align-items: center;
}

.reviewHeaderRight {
    grid-area: reviewHeaderRight;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: flex-start;
}

.reviewImg {
    margin-right: 10px;
}

.reviewName {
    margin-right: 5px;
    font-weight: 500;
}

.reviewDate {
    margin-right: 10px;
}

.reviewBody {
    grid-area: reviewBody;
    margin-top: 10px;
}

.reviewDivider {
    grid-area: reviewDivider;
    margin: 10px 0;
}

.reviewHeader:first-child {
    margin-top: 0;
}

.reviewTextarea,
.reviewInputName,
.reviewInputTitle {
    font-size: clamp(14px, 3vw, 16px);
    line-height: 1.4;
}

.reviewForm {
    display: grid;
    grid-template-columns: auto auto auto 1fr auto auto;
    align-items: center;
    grid-template-areas:
        "reviewInputName reviewInputName reviewInputTitle . rateFeedback feedbackStars"
        "reviewTextarea reviewTextarea reviewTextarea reviewTextarea reviewTextarea reviewTextarea"
        "reviewButton reviewInfo reviewInfo reviewInfo reviewInfo reviewInfo"
}

.reviewInputName {
    grid-area: reviewInputName;
    width: 220px;
    margin-right: 24px;

}

.reviewInputTitle {
    grid-area: reviewInputTitle;
    width: 220px;
    /* align-self: left; */
    margin-right: 24px;
}

.reviewTextarea {
    grid-area: reviewTextarea;
    margin-top: 20px;
}

.reviewButton {
    grid-area: reviewButton;
    margin: 20px 10px 0 0;
    max-width: 141;

}

.reviewInfo {
    grid-area: reviewInfo;
    align-self: center;
    margin-top: 20px;
    font-size: clamp(10px, 2.5vw, 14px);
}

.rateFeedback {
    grid-area: rateFeedback;
    margin-right: 8px;
}

.feedbackStars {
    grid-area: feedbackStars;
}


@media (max-width: 1200px) {
    .reviewHeader {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "reviewHeaderLeft reviewHeaderLeft"
            "reviewHeaderRight reviewHeaderRight"
            "reviewBody reviewBody"
            "reviewDivider reviewDivider";
    }

    .reviewName {
        width: fit-content;
    }

    .reviewHeaderRight {
        margin-top: 10px;
        grid-template-columns: auto;

    }

    .reviewRating {
        margin-top: 5px;
    }

    .reviewForm {
        grid-template-columns: auto auto 1fr auto;
        grid-template-areas:
            "reviewInputName reviewInputName reviewInputTitle ."
            "reviewTextarea reviewTextarea reviewTextarea reviewTextarea"
            "rateFeedback . . ."
            "feedbackStars . . ."
            "reviewButton reviewInfo reviewInfo reviewInfo";
    }

    .reviewInputTitle {
        margin-right: 0;
    }

    .rateFeedback {
        margin-top: 20px;
    }

    .feedbackStars {
        margin-top: 5px;
    }

    .reviewInfo {
        font-size: clamp(10px, 2.5vw, 14px);
    }
}

@media (max-width: 900px) {
    .reviewForm {
        grid-template-columns: 1fr;
        grid-template-areas:
            "reviewInputName"
            "reviewInputTitle"
            "reviewTextarea"
            "rateFeedback"
            "feedbackStars"
            "reviewButton"
            "reviewInfo";
    }

    .reviewInputTitle,
    .reviewTextarea {
        margin-top: 15px;
    }

    .reviewInfo {
        margin-top: 5px;
    }

    .rateFeedback,
    .feedbackStars,
    .reviewButton,
    .reviewInfo,
    .reviewInfo {
        justify-self: right;
    }
}