.reviewWrapper {
    display: block;

    padding: 24px;

    font-size: clamp(10px, 2.5vw, 14px);
}

.reviewHeader {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;

    align-items: center;
    grid-template-areas:
        "reviewHeaderLeft reviewHeaderRight"
        "reviewBody reviewBody"
        "reviewDivider reviewDivider";
}

.reviewHeaderLeft {
    grid-area: reviewHeaderLeft;

    display: grid;
    grid-template-columns: auto auto 1fr;

    align-items: center;
}

.reviewHeaderRight {
    grid-area: reviewHeaderRight;

    display: grid;
    grid-template-columns: auto auto;

    align-items: center;
    justify-content: flex-start;
}

.reviewImg {
    margin-right: 10px;
}

.reviewName {
    margin-right: 5px;

    font-weight: 500;
}

.reviewDate {
    margin-right: 10px;
}

.reviewBody {
    grid-area: reviewBody;

    margin-top: 10px;
}

.reviewDivider {
    grid-area: reviewDivider;

    margin: 10px 0;
}

.reviewHeader:first-child {
    margin-top: 0;
}

@media (width <= 1200px) {
    .reviewHeader {
        grid-template-columns: 1fr 1fr;
        grid-template-areas:
            "reviewHeaderLeft reviewHeaderLeft"
            "reviewHeaderRight reviewHeaderRight"
            "reviewBody reviewBody"
            "reviewDivider reviewDivider";
    }

    .reviewName {
        width: fit-content;
    }

    .reviewHeaderRight {
        margin-top: 10px;
        grid-template-columns: auto;

    }

    .reviewRating {
        margin-top: 5px;
    }

}