.title {
    display: grid;
    grid-template-columns: auto 1fr 116px auto;
    place-items: flex-start left;
    gap: 0 20px;
}

.sortBlock {
    display: grid;
    grid-template-columns: auto;
    justify-items: left;
    gap: 5px 0;
}

.sortItem {
    display: block;

    padding-left: 24px;

    cursor: pointer;
    white-space: nowrap;

    font-size: clamp(14px, 1.5vw, 16px);
    justify-self: left;
}

.active {
    padding-left: 0;

    color: var(--primary)
}

.active::before {
    display: inline-block;

    width: 24px;
    height: 20px;

    content: "";
    vertical-align: middle;

    background: url("/icons/Sort/Sort.svg") no-repeat left center;
    background-size: 20px 20px;
}


@media (width <= 785px) {
    .title {
        gap: 0 10px;
    }

    .sortBlock {
        grid-template-columns: auto;
        justify-items: center;
    }
}

@media (width <= 765px) {
    .title {
        grid-template-columns: auto 1fr 116px;
    }

    .themeButton {
        display: none;
    }
}