.title {
    display: grid;
    grid-template-columns: auto 1fr 116px auto;
    align-items: center;
    justify-items: left;
    gap: 0 20px;
    align-items: flex-start;
}

.sortBlock {
    display: grid;
    grid-template-columns: auto;
    justify-items: left;
    gap: 5px 0;
}

.sortItem {
    display: block;
    cursor: pointer;
    font-size: clamp(14px, 1.5vw, 16px);
    white-space: nowrap;
    justify-self: left;
    padding-left: 24px;
}

.active {
    color: var(--primary);
    padding-left: 0
}

.active::before {

    content: "";
    display: inline-block;
    background: url("/icons/Sort/Sort.svg") no-repeat left center;
    width: 24px;
    height: 20px;
    background-size: 20px 20px;
    vertical-align: middle;
}


@media (max-width: 785px) {
    .title {
        gap: 0 10px;
    }

    .sortBlock {
        grid-template-columns: auto;
        justify-items: center;
    }
}

@media (max-width: 765px) {
    .title {
        grid-template-columns: auto 1fr 116px;
    }

    .themeButton {
        display: none;
    }
}