 .productWrapper {
     position: relative;
 }

 .description {
     font-size: clamp(12px, 2.5vw, 16px);
     line-height: 1.5;
 }

 .table {
     display: grid;
     grid-template-columns: 1fr 1fr;
     margin-top: 24px;
 }

 .advBlock {
     font-size: clamp(12px, 2.5vw, 16px);
     line-height: 1.5;
 }

 .hr,
 .hr2 {
     margin: 20px 0;
 }

 .feature {
     display: block;
 }

 .advTitle {
     margin-bottom: 5px;
     font-weight: bold;
 }

 .advantages {
     padding-left: 20px;
     border-left: 2px solid #1DC37E;
 }

 .disadvantages {
     padding-left: 20px;
     border-left: 2px solid var(--red);
     margin-top: 20px;
 }

 .characteristics {
     display: grid;
     align-items: baseline;
     padding-right: 40px;
     font-size: clamp(12px, 2.5vw, 16px);
     line-height: 1.5;
     grid-template-columns: auto 1fr auto;
     gap: 10px;
 }

 .characteristicsName {
     font-weight: bold;
 }

 .characteristicsDots {
     margin-bottom: 5px;
     border-bottom: 1px dashed var(--gray);
 }

 .reviews {
     overflow: hidden;
 }


 .reviewButton {
     margin-left: 20px;
 }

 .reviewCard {
     position: relative;
     overflow: hidden;
     max-height: 0;
     padding: 0;
     z-index: 0;
     background: var(--light-blue);
     border: none;
     margin-top: 10px;

 }

 [data-theme="dark"] .reviewCard {
     background-color: transparent;

 }

 .visible {
     max-height: fit-content;
     border: initial;
     border: 1px solid #ddd;
 }

 @media screen and (max-width: 1200px) {
     .table {

         grid-template-columns: 1fr;
         grid-template-rows: auto;
     }

     .advBlock {
         margin-top: 20px;
     }

     .characteristics {
         padding-right: 0;
     }
 }