.textareaWrapper {
    position: relative;
}

.formDescription {
    display: block;

    width: 100%;
    height: 75px;
    padding: 10px;

    resize: none;

    color: var(--black);
    border: 1px solid var(--gray);
    border-radius: 5px;
    outline: transparent;
    background: transparent;
    background: white;

    font-family: var(--font-roboto), Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 21px;
}

.formDescription::placeholder {
    color: var(--gray-light);
}

.formDescription:focus {
    transition: all 0.2s ease-in-out;

    box-shadow: 0 2px 4px var(--gray);
}

.validationMessage {
    position: absolute;
    top: 78px;
    left: 5px;

    color: var(--red);

    font-size: 12px;
}

[data-theme='dark'] .formDescription {
    color: var(--gray);
    background: transparent;
    box-shadow: none
}

[data-theme='dark'] .formDescription:focus {
    box-shadow: none
}