.textareaWrapper {
    position: relative;
}

.formDescription {
    display: block;
    border: 1px solid var(--gray);
    border-radius: 5px;
    outline: transparent;
    height: 75px;
    font-family: var(--font-roboto), Arial, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: var(--black);
    padding: 10px;
    background: transparent;
    width: 100%;
    resize: none;
    background: white;
}

.formDescription::placeholder {
    color: var(--gray-light);
}

.formDescription:focus {
    transition: all 0.2s ease-in-out;
    box-shadow: 0 2px 4px var(--gray);
}

.validationMessage {
    position: absolute;
    color: var(--red);
    left: 5px;
    top: 78px;
    font-size: 12px;
}

[data-theme='dark'] .formDescription {
    background: transparent;
    color: var(--gray);
    box-shadow: none
}

[data-theme='dark'] .formDescription:focus {
    box-shadow: none
}