.h1 {
    margin: 0;

    font-size: clamp(20px, 4vw, 32px);
    font-weight: 500;
    line-height: 1.2;
}

.h2 {
    margin: 0;

    font-size: clamp(18px, 4vw, 26px);
    font-weight: 500;
    line-height: 1.25;
}

.h3 {
    margin: 0;

    font-size: clamp(16px, 3vw, 22px);
    font-weight: 600;
    line-height: 1.3;
}