.firstLevel li {
    list-style: none;
}

.firstLevel {
    display: block;

    margin-top: 20px;

    user-select: none;
}

.firstLevel:first-child {
    margin-top: 30px;
}

.firstLevelItem img {
    width: 24px;
    height: 24px;
}

.firstLevelItem {
    display: grid;
    grid-template-columns: 24px 1fr;

    align-items: center;

    transition: filter 0.2s;
}

.firstLevelItemText {
    padding-left: 20px;

    font-size: 18px;
    font-weight: 400;
    line-height: 24px;
}

.secondLevel {
    display: block;

    margin: 0 12px;
    padding-left: 32px;

    user-select: none;

    border-left: 1px solid var(--black);
}

.secondLevelItem {
    margin: 5px 0;

    list-style: none;

    cursor: pointer;
    user-select: none;
}

.secondLevelItemText {
    user-select: none;
    text-transform: uppercase;

    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
}

.thirdLevel {
    display: block;

    margin: 10px 0;
    padding-left: 10px;

    user-select: none;
}

.thirdLevelItem {
    margin: 2px 0;

    list-style: none;
}

.thirdLevelItemText {
    user-select: none;

    font-size: 14px;
    font-weight: 400;
    font-style: normal;
}

/* Active состояния перед hover */
.firstLevelItemActive,
.secondLevelItemActive,
.thirdLevelItemActive {
    color: var(--primary);
}

.firstLevelItemActive img {
    filter: brightness(0) saturate(100%) invert(38%) sepia(83%) saturate(747%) hue-rotate(227deg) brightness(97%)
        contrast(101%);
}

/* Hover состояния после active */
.secondLevelItemText:hover,
.thirdLevelItemText:hover,
.firstLevelItem:hover,
.firstLevelItem:hover img,
.firstLevelItem:hover .firstLevelItemText {
    user-select: none;
    filter: brightness(0) saturate(100%) invert(38%) sepia(83%) saturate(747%) hue-rotate(227deg) brightness(97%)
        contrast(101%);

    color: var(--primary-hover);
}
